<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeMMOTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokeMMOTracker.Properties.Settings>
            <setting name="Background" serializeAs="String">
                <value>#225883</value>
            </setting>
            <setting name="ButtonBackground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ButtonText" serializeAs="String">
                <value>#225883</value>
            </setting>
            <setting name="TaskOddBackground" serializeAs="String">
                <value>#CCCCCC</value>
            </setting>
            <setting name="TaskOddText" serializeAs="String">
                <value>#225883</value>
            </setting>
            <setting name="TaskEvenBackground" serializeAs="String">
                <value>#EEEEEE</value>
            </setting>
            <setting name="TaskEvenText" serializeAs="String">
                <value>#225883</value>
            </setting>
            <setting name="CheckBoxBorder" serializeAs="String">
                <value>#225883</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberScroll" serializeAs="String">
                <value>False</value>
            </setting>
        </PokeMMOTracker.Properties.Settings>
    </userSettings>
</configuration>